<p>data-binding works!</p>

<div (scroll)="onWindowChanged()" style="overflow: scroll; height: 100px;">

<table>
    <tr>
        <td>
            <h1>{{courseName}}</h1>
        </td>
        <td>Name:<input type="text" value={{rollNo}}></td>
        <td>{{currentDate}}</td>
        <td>
            <input type="text" [value]="rollNo">
        </td>

        <td>
            <input type="text" [maxLength]="maxTestLength">
        </td>
        <td>
            <span [class]="spanClassNAme">{{currentDate}}</span>
        </td>

        <td>{{rollNo}}</td>

        <td>
            <input type="text" [(ngModel)] = "rollNo">
        </td>
        <td>
            <input type="checkbox" [(ngModel)]="isActive">
        </td>
        {{isActive}}

    </tr>
</table>

<br>
<hr>

<button (click)="showAlert()">Show Alert</button>

<select (change)="onCityChanged()">
    <option value="">Delhi</option>
    <option value="">Gurugram</option>
    <option value="">Noida</option>
    <option value="">Mumbai</option>
</select>

</div>


<h1>{{addTwoNum(100,40)}}</h1>